@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    132 Some Road<br />
    Louisville KY, 40218<br />
    <abbr title="Phone">P:</abbr>
    502.555.5555
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:contact@derbycitydesignlab.com">contact@derbycitydesignlab.com</a>
</address>